- content_for :title, "XD6 //Home"
.col-4
    .panel.panel-primary
        .panel-heading.nomarg
            Upcoming Projects
        %ul.list-group
            - @upcoming_projects.each do |upcoming|
                %li.list-group-item
                    = upcoming[:project]
                    %br
                    .progress
                        .progress-bar.progress-bar-info(style="width: #{upcoming[:percentage]}")
    .panel.panel-primary
        .panel-heading.nomarg
            Upcoming Updates
        %ul.list-group
            - @updates.each do |update|
                %li.list-group-item
                    = update[:project]
                    %br
                    .progress
                        .progress-bar.progress-bar-info(style="width: #{update[:percentage]}")
    .panel.panel-primary
        .panel-heading.nomarg
            Recent News
        %ul.list-group
            - @posts.each do |post|
                %li.list-group-item
                    %p
                        %strong
                            = post[:title].empty? ? time_ago_in_words(post[:time]) + " ago:" : post[:title] + " / " + time_ago_in_words(post[:time]) + " ago:"
                        = post[:content]
.col-8
    .panel.panel-primary
        .panel-heading.nomarg
            Projects
        %ul.list-group
            - @projects.each do |project|
                %li.list-group-item
                    .force-height
                        %h3.left
                            = project[:title]
                        .pull-right
                            - project[:links].each do |link|
                                %a.btn.btn-primary(type="button" href="#{link[:href]}")
                                    = link[:title]
                    %p= project[:content]